
# Test results
DerivedData-Tests/
DerivedData-Tests-Local/
test-results*.xcresult
test-results-local.xcresult
*.xcresult
ios-sdk/src/AriseMobileSdk.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
